<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>

  <!-- <link ref="reference/css" type="text/css" href="css" href="css/login.css"/> -->
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    html,
    body,
    .container {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .container {
      position: relative;
      background: url('/images/login-bg.jpg');
      background-size: 100%;
    }
    .box {
      top: 45vh;
      right: 100px;
      width: 420px;
      height: 260px;
      /* color: #409EFF; */
      position: absolute;
      border-radius: 5px;
      background: #ffffff86;
      text-align: center;
    }
    .buttons {
      padding: 5px 10px;
      /* display: block; */
      border: none;
      color: red;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="box">
      <form action="/login" method="GET">
        <div>
          <span>用户名：</span>
          <input type="text" name="name">
        </div>
        <div>
          <span>密码：</span>
          <input type="password" name="password">
        </div>
          
        <button class="buttons"> 登 录 </button>
      </form>
    </div>
  </div>
</body>
<script type="text/javascript" src="js/http.js"></script>
<script>
  const url = 'http://127.0.0.1:8081/ajax'
  const obj = {
    name: '肖鸿',
    pass: 'xh072569'
  }
  
  ajax(url, 'POST', obj).then(res => {
    console.log('res=', res)
  }).catch(err => {
    console.log(err)
  })
</script>
</html>